<script type="text/template" id="FileDelete">
    <div class="dialog-background"></div>
    <div class="dialog-window small-window processing-suppliers">
        <div class="dialog-content">
            <div class="dialog-content-indent">
                <h2>Вы действительно хотите удалить файл &laquo;<%- attributes.name %>&raquo; поставщика &laquo;<%- supplier.attributes.name %>&raquo;</h2>
            </div>
        </div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                <div>
                    <a href="#/processingsuppliers/files/" class="button red delete">Удалить</a> или
                    <a href="#/processingsuppliers/files/" class="cancel">отменить</a>
                </div>
            </div>
        </div>
    </div>
</script>
