<script type="text/template" id="SupplierColumnsTable">
    <table class="zebra">
        <thead>
            <tr>
                <th>Номер или буква столбца</th>
                <th>Привязываемое свойство</th>
                <th>Показывать в таблице выгрузки</th>
                <th>Удаление</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="field pt10">
        <a class="inline-link pointer add-row">
            <i class="icon16 add"></i><b><i>Добавить свойство</i></b>
        </a>
    </div>
</script>
