<script type="text/template" id="SupplierRow">
    <td class="min-width"><%- id %></td>
    <td><%- name %></td>
    <td class="min-width"><%- uploads %></td>
    <td class="w150px"><%- create_datetime %></td>
    <td class="min-width">
        <a class="inline" href="#/processingsuppliers/suppliers/delete/<%- id %>"><i class="icon16 delete pointer"></i></a>
        <a class="inline" href="#/processingsuppliers/suppliers/edit/<%- id %>"><i class="icon16 settings pointer"></i></a>
    </td>
</script>
